[submodule "vendor/github.com/pborman/uuid"]
	path = vendor/github.com/pborman/uuid
	url = https://github.com/pborman/uuid
[submodule "vendor/github.com/blevesearch/bleve"]
	path = vendor/github.com/blevesearch/bleve
	url = https://github.com/blevesearch/bleve
[submodule "vendor/github.com/blevesearch/go-porterstemmer"]
	path = vendor/github.com/blevesearch/go-porterstemmer
	url = https://github.com/blevesearch/go-porterstemmer
[submodule "vendor/github.com/blevesearch/segment"]
	path = vendor/github.com/blevesearch/segment
	url = https://github.com/blevesearch/segment
