<html>
	{{ template "head" . }}
	<body>
		{{ template "header" . }}
		{{ template "searchbar" . }}
		<!-- need to add a status bar -->
		{{if .DecodedCookie.IsAuthed}}

		{{with .Results}}
		{{if .ChangeAttemptedAndSucceeded}}
		<p>Your password has been sucessfullly updated</p>
		{{else}} {{/* if .ChangeAttemptedAndSucceeded */}}

		{{if .ChangeAttemptedAndFailed}}
		<p>There was a problem: {{.ReasonForFailure}}. Try again?</p>
		{{end}}

		<form action="/usermgt/changepasswd.html" method="post" class="results">
			<h3>Change Password</h3>
			<div class="onefield">
				<label class="password-label" for="oldpassword">Current<br>password</label>
				<input class="password small-input" id="oldpassword" type="password" name="oldpassword" maxlength="30" ./>
			</div>

			<div class="onefield">
				<label class="password-label" for="newpassword">New<br>password</label>
				<input class="password small-input" id="newpassword" type="password" name="newpassword" maxlength="30" ./>
			</div>
			<div class="onefield">
				<label class="password-label" for="newpasswordagain">Confirm new<br>password</label>
				<input class="password small-input" id="newpasswordagain" type="password" name="newpasswordagain" maxlength="30" ./>
			</div>

			<div class="buttonbar">
				<div class="button">
					<input type="submit" value="Save" />
				</div>
			</div>
		</form>
		{{end}} {{/* if .ChangeAttemptedAndSucceeded */}}
		{{end}} {{/* with .DecodedCookie */}}

		{{else}} {{/* if .DecodedCookie.IsAuthed */}}
		You aren't sign in. <a href="/login.html">Sign-in</a> before trying to change your password.
		{{end}} {{/* if .DecodedCookie.IsAuthed */}}
		{{ template "footer" . }}
	</body>
</html>
