<html>
	{{ template "head" . }}
	<body>
		{{ template "header" . }}
		<!-- need to add a status bar -->
		<ul class="nav">
			<li class="categories"><a href="/index.html"><div class="arrow-left"></div>Back to Search</a></li>
			<li id="searchfield"><a href="#">Search for a user</a></li>
		</ul>
		{{if .DecodedCookie.HasCapabilityViewUsers}}

		<!-- query value has to be in the field -->
		<form action="/usermgt/listusers.html" method="get" class="results">
			<div style="margin: 5px;">
				<a style="float: right;" href="/usermgt/adduser.html">Invite people</a>
			</div>
			<div>
				<input placeholder="Search users..." type="text" id="userquery" name="userquery" />
			</div>

			{{with .Results}}

			{{if .Querysuccess}}
			<p>Results for {{.Userquery}}</p>
			{{else}}
			{{.Diagnosticmessage}}
			{{end}}

			<table class="user-details">
				<tr>	
					<th></th>
					<th>User name</th>
					<th>Role</th>
					<th>Display name</th>
				</tr>
				{{range .Users}}
				<tr>
					<td>
						<input type="checkbox" value="{{.uuid}}" name="selected-{{.index}}">
					</td>
					<td>{{.name}}</td>
					<td>{{.role}}</td>
					<td>{{.display_name}}</td>

				</tr>
				{{end}}
			</table>

			<div class="buttonbar">
				<div class="button usermgt">
					<input type="submit" value="Reset Password" name="resetpassword"/>
				</div>
				<div class="button usermgt">
					<input type="submit" value="Delete User" name="deleteuser"/>
				</div>
				<div class="button usermgt">
					<label>Update role</label>
					<select name="rolechange" onchange="this.form.submit()">
						<!--	<option value="nochange" selected>Leave as it</option>-->
						<option value="admin">Administrator</option> 
						<option value="volunteer" >Volunteer</option>
						<option value="norole" >Clear role</option>
					</select>
				</div>
			</div>
		</form>

		{{end}} {{/* with .Results  */}}

		{{else}} {{/* if .DecodedCookie.HasCapabilityViewUsers */}}

		<p>You aren't signed with the right to list users. <a href="/login.html">Sign-in</a> as an administrative user.</p>

		{{end}} {{/* if .DecodedCookie.HasCapabilityViewUsers */}}
		{{ template "footer" . }}
	</body>
</html>
