
<html>
<head>
<script type="text/javascript" src="/js/example.js"></script>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
  {{ template "header" . }}
{{/* TODO(rjk): Make the components of the page into subtemplates. */}}
{{if .DecodedCookie.IsAuthed}}
{{with .DecodedCookie}}
<p>Welcome {{.DisplayName}}  <button onclick="clearSessionCookie();">Sign out</button></p>
{{end}}
{{else}}
You are not signed in. <a href="/login.html">Login?</a>
{{end}}

{{with .Results}}
<p>Show that I've wired up getting content from within the app server: {{.Message}}</p>
<p>Show that I've successfully wired up getting JavaScript to load. (Otherwise the button wouldn't work.)</p>
<button onclick="addSomething();">Click Me Now!</button>

<p>Do a query for a resource</p>
<form action="/search.html" method="get">
   <div>
        <label for="query_field">Search Resource Guide:</label>
        <input type="text" id="query_field" name="query" />
    </div>
</form>

<div id="insertPoint"></div>
{{end}}

</body>
</html>
{{ define "header" }}
<p>hi There</p>
{{ end }}
