{{ define "header" }}
<div class="header">
	<div class="header-section logo">
		<a href="/index.html" >
      <h1>SFWAR Resource Guide</h1>
    </a>
	</div>
	<div class="header-section">
		<div class="header-links">
      <div class="escape">
        <a href="https://weather.com/">
          <h3> << ESCAPE >> </h3>
          <h3> click here to leave this site </h3>
        </a>
      </div>
      <div class="hotline">
        <h3>415-647-7273</h3>
        <h3> Get Help Now </h3>
      </div>
		</div>
	</div>
	<div class="header-section">
		{{if .DecodedCookie.IsAuthed}}
		{{with .DecodedCookie}}
		<div class="user-menu"><a>{{.DisplayName}}</a>
			<ul>
				<a onclick="clearSessionCookie();"><li>Sign out</li></a>
				<a href="/usermgt/changepasswd.html"><li>Change Password</li></a>
				{{if .HasCapabilityViewUsers}}
				<a href="/usermgt/listusers.html"><li>Edit users</li></a>
				{{end}} {{/* if .HasCapabilityViewUsers  */}}
				{{end}} {{/* with .DecodedCookie */}}
			</ul>
		</div>
		{{else}}
    <a href="/login.html"><h2>Sign in</h2></a>
		{{end}}
	</div>
</div>
{{ end }}
