<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SFWAR Resource Guide</title>
		<script type="text/javascript" src="/js/example.js"></script>
		<script type="text/javascript" src="/js/searchbar.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		{{ template "header" . }}
		<ul class="nav">
			<li class="categories">
				<a href="javascript:void(0)" class="dropbtn">Get Help</a>
				<ul>
					<li class="category">
						<a href="#">Locations</a>
						<ul>
							<li class="category-option">
								<input type="checkbox" name="location" value="Oakland">Oakland<br>
							</li>
						</ul>
					</li>
					<li class="category">
						<a href="#">Services</a>
						<ul>
							<li class="category-option">
								<input type="checkbox" name="service" value="Legal">Legal<br>
							</li>
						</ul>
					</li>
					<li class="category">
						<a href="#">Communities</a>
						<ul>
							<li class="category-option">                      
								<input type="checkbox" name="community" value="Asian">Asian<br>
							</li>
						</ul> </li>
				</ul>
			</li>
			<li id="searchfield">
				<form id='search-form' action="/search.html" method="get">
					<input type='text' id='query_field' name='query' placeholder='Search..'/>
					<div class='hbox' onClick="document.getElementById('search-form').submit();">
					</div>
				</form>
			</li>
		</ul>
		{{ template "footer" . }}

	</body>
</html>
