<html>
<head>
<script type="text/javascript" src="/js/example.js"></script>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
{{ template "header" . }}

{{with .Results}}
<p>Show that I've wired up getting content from within the app server: {{.Message}}</p>
<p>Show that I've successfully wired up getting JavaScript to load. (Otherwise the button wouldn't work.)</p>
<button onclick="addSomething();">Click Me Now!</button>

<div id="insertPoint"></div>
{{end}}

{{ template "footer" . }}

</body>
</html>
