<html>
	<head>
		<script type="text/javascript" src="/js/example.js"></script>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		{{ template "header" . }}
		<!-- need to add a status bar -->


		{{if .DecodedCookie.IsAuthed}}
		{{else}}


		<ul class="nav">
			<li class="category"><a href="/index.html"><div class="arrow-left"></div>Back to Search</a></li>
			<li id="searchfield"><a href="#">Sign-in to edit, view comments, invite people, etc.</a></li>
		</ul>

		<!-- we will redirect on success to index.html  -->

		{{with .Results}}

		{{if .AttemptedSignOn}}
		<p>
		Incorrect username and password combination. Maybe try again?
		</p>
		{{end}}

		<form class="results" action="/login.html" method="post">
			<h3>Welcome</h3>
			<div class="onefield">
				<input class="small-input login" placeholder="Username" id="username" type="text" name="username" size="30" ./>
			</div>

			<div class="onefield">
				<input class="small-input login" placeholder="Password" id="password" type="password" name="password" maxlength="30" ./>
			</div>

			<div class="buttonbar">
				<div class="button">
					<input type="submit" value="Login" />
				</div>
			</div>
		</form>
		{{end}}

		{{end}}

		{{ template "footer" . }}
	</body>
</html>
