<html>
	{{ template "head" . }}
	<body>
    {{ template "header" . }}
		<!-- need to add a status bar -->

    {{ template "searchbar" . }}
		{{if .DecodedCookie.IsAuthed}}
		{{else}}

		<!-- we will redirect on success to index.html  -->

		{{with .Results}}

		{{if .AttemptedSignOn}}
		<p class="notification">
		Incorrect username and password combination. Maybe try again?
		</p>
		{{end}}

		<form class="results" action="/login.html" method="post">
			<h3>Welcome</h3>
			<div class="onefield">
				<label class="password-label singleton" for="username">Username</label>
				<input class="password small-input" id="username" type="text" name="username" size="30" ./>
			</div>

			<div class="onefield">
				<label class="password-label singleton" for="password">Password</label>
				<input class="password small-input" id="password" type="password" name="password" maxlength="30" ./>
			</div>

			<div class="buttonbar">
				<div class="button">
					<input type="submit" value="Login" />
				</div>
			</div>
		</form>
		{{end}}

		{{end}}

		{{ template "footer" . }}
	</body>
</html>
