<html>
<head>
<script type="text/javascript" src="js/example.js"></script>
</head>
<body>
{{if .DecodedCookie.IsAuthed}}
{{with .DecodedCookie}}
<p>Welcome {{.DisplayName}}  <button onclick="clearSessionCookie();">Sign out</button></p>
{{end}}
{{else}}
You are not signed in. <a href="/login.html">Login?</a>
{{end}}

{{with .Results}}
<p>Search results for the query: {{.Query}}  <a href="/index.html">Different search?<a></p>

<ul>
{{range .Resources}}
	<li>
		<ul>
			<li><a href="/resources/{{.Uuid}}.html">{{.Name}}</a></li>
			<li>{{.Categories}}</li>
			<li>{{.Services}}</li>
			<li>{{.Description}}</a></li>
		</ul>
	</li>
{{end}}
</ul>
{{end}}
</body>
</html>
