html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

body {
  background: #e6e6e6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }

p {
  margin: 0; }

a {
  color: #595959;
  text-decoration: none;
  border-bottom: 1px dotted #a6a6a6; }

.sm-label {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1rem;
  font-variant: small-caps;
  color: #404040;
  background-color: #e6e6e6;
  padding: 0 0.625rem 0.125rem 0.1875rem;
  margin: 0 0.3125rem 0.2rem 0;
  box-shadow: 2px 3px 0px #cccccc; }

#container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #container::after {
    clear: both;
    content: "";
    display: table; }

.info-card {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  background: white;
  min-height: 20rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.15rem;
  line-height: 1.4rem;
  color: #404040; }
  .info-card:last-child {
    margin-right: 0; }
  .info-card__column-left {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 42.6842%; }
    .info-card__column-left:last-child {
      margin-right: 0; }
  .info-card__column-right {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 54.14736%; }
    .info-card__column-right:last-child {
      margin-right: 0; }
  .info-card__map {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    background-color: #999999;
    min-height: 14rem;
    margin-bottom: 1rem; }
    .info-card__map:last-child {
      margin-right: 0; }
  .info-card__name {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 88.53684%;
    font-size: 2.7rem;
    line-height: 3rem;
    margin: 0;
    padding: 1rem 0 1.5rem 0;
    color: #666666;
    font-family: "Lora", serif;
    font-weight: 400; }
    .info-card__name:last-child {
      margin-right: 0; }
  .info-card__single-line-entry {
    margin: 0 0 0.7rem 0; }
  .info-card__multi-line_entry {
    margin: 0 0 0.8rem 0; }
  .info-card__multi-line_entry--desc {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%; }
    .info-card__multi-line_entry--desc:last-child {
      margin-right: 0; }
  .info-card__multi-line_entry--pop-served {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%; }
    .info-card__multi-line_entry--pop-served:last-child {
      margin-right: 0; }
  .info-card__multi-line_entry--services {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%; }
    .info-card__multi-line_entry--services:last-child {
      margin-right: 0; }
  .info-card__multi-line_entry--address {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .info-card__multi-line_entry--address:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--wheelchair {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .info-card__single-line-entry--wheelchair:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--crisis-line {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .info-card__single-line-entry--crisis-line:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--business-line {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .info-card__single-line-entry--business-line:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--fax {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .info-card__single-line-entry--fax:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--email {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    .info-card__single-line-entry--email:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--website {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .info-card__single-line-entry--website:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--cost {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 36.4891%; }
    .info-card__single-line-entry--cost:last-child {
      margin-right: 0; }
  .info-card__single-line-entry--insurance {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 57.6594%;
    margin-right: 0; }
    .info-card__single-line-entry--insurance:last-child {
      margin-right: 0; }
  .info-card__multi-line_entry--languages {
    float: left;
    display: block;
    margin-right: 5.85151%;
    width: 100%; }
    .info-card__multi-line_entry--languages:last-child {
      margin-right: 0; }

.tag-cloud {
  float: left;
  display: block;
  margin-right: 5.85151%;
  width: 100%;
  padding: 0;
  min-height: 10rem; }
  .tag-cloud:last-child {
    margin-right: 0; }
  .tag-cloud__tag-list {
    margin: 0;
    padding: 0.1875rem 0 0 0;
    list-style: none; }
  .tag-cloud__tag-list-item {
    display: inline-block; }
  .tag-cloud__tag {
    display: inline-block;
    background-color: #737373;
    background-image: -webkit-linear-gradient(-270deg, #737373, gray);
    background-image: linear-gradient(0deg,#737373, gray);
    padding: 0.5rem 0.625rem 0.75rem 0.625rem;
    color: #f2f2f2;
    text-decoration: none;
    text-shadow: 1px 2px 1px rgba(13, 13, 13, 0.1);
    font-weight: 300; }

/*# sourceMappingURL=info-card.css.map */
