/* general styles */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	margin: 0;
}
a li {
	font-weight: bold;
	color: black;
}
form {
	margin: 0;
	padding: 5px;
}
h3 {
	color: 00B398;
	display: inline-block;
}
.invite {
	float: right;
}
input {
	width: 100%;
	font-size: 16px;
}
table {
	width: 100%;
}
.buttonbar {
	float: right;
}
.button {
	width: 50%;
	float:right;
}
.resource-details div {
	text-align: left;
	margin:10px 0;
}

/* page specific styles */
.button input {
	border: none;
	outline: none;
	background:lightsteelblue;
	width: 210px;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
	float: right;
}	
textarea {
	border: solid 1px lightgrey;
	display: block;
	width: 100%;
}
.buttonbar .usermgt {
	width: 30%;
	float: right;
	margin: 8px;
}
.buttonbar .usermgt input {
	width: 100%;
	margin: 5px;
}
.small-input {
	width: unset;
}
.onefield {
	margin: 15px 0;
	text-align: right;
}
.password-label {
	display: inline-block;
	width: 40%;
}
.singleton {
	vertical-align: top;
}
.password {
	width: 50%;
	outline: 1px solid lightgrey;
	vertical-align: super;
}
th {
	text-align: left;
}
.user-details th, .user-details td {
	padding: 5px;
	text-align: right;
}
a {
	color: 00B398;
	text-decoration: none;
}
.results a {
	color: 00B398;
}
.login {
	border: none;
	border-bottom: solid lightgrey;
	padding: 5px;
	margin: 5px;
	width: 200px;
}
.login:focus {
	outline: 5px solid lightgrey;
}
.user-menu > a {
	display: inline-block;
	margin: 0 0 4px;
}
.user-menu ul {
	position: relative;
	border: solid 1px lightgrey;
	z-index: 1;
	list-style: none;
	margin: 0;
	right: 0;
	width: 100px;
}
.user-menu:focus li, .user-menu-active li {
	position:relative;
	padding: 5px;
	background: cornsilk;
}
.user-menu ul li:focus {
	background: lightsteelblue;
}
.arrow-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right:8px solid black;
	margin-right: 5px;
}
.hbox {
	height: 30px;
	overflow-x: auto;
	font-family: sans-serif;
	font-size: 18px;
	box-shadow: none;
	border-radius: none;
	background: white;
}
.hbox > * {
	display:table-cell;
}
.hbox > button {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
	background-color: cornsilk;
}
.hbox > button:hover {
	border-color: blue;
	background-color: lightsteelblue;
}
.header{
	padding: 1em;
	position: relative;
}
.header-section {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 25%; 
}
.header-section:nth-child(1) {
	float: left; 
}
.header-section:nth-child(2) {
	margin: auto;
	float: none;
	width:50%;
	text-align: center; 
}
.header .header-section:last-child {
	float: right;
	text-align: right;
}
.hotline {
	border: 1px solid lightgrey;
	border-radius: 5px;
	background: cornsilk;
	padding: 5px;
}
.results {
	list-style: none;
	padding: 0 20px 40px 20px;
}
.result {
	list-style: none;
}
.result li:nth-child(4) {
	padding-bottom: 10px;
}
.nav {
	background: lightsteelblue;
	float: left;
	width: 100%;
	padding: 0;
}	
.nav li, .nav li li {
	float: left;
	position: relative;
	width: 150px;
	list-style: none;
	padding: 5px
}
.nav li li li {
	padding: 14px;
}	
.nav > ul > li > a, h1 {
	text-transform: uppercase;
}	
.nav a {
	display: block;
	text-decoration: none;
	padding: 9px;
	color: #000;
}
.nav ul, .user-menu ul {
	position: absolute;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	padding: 0;
}	
.nav ul {
	left: 0;
}
.nav ul ul {
	left: 100%;
	top: 0;
	padding: 0;
}	
.nav .categories:hover, .nav li:focus li {
	background: #ddd;
}
.nav li li input {
	display: none;
}
.nav li li:hover, nav li li:hover li {
	background: #bbb;
}	
.nav li li li:hover {
	background: #999;
}	
.nav li:hover > ul,.user-menu:focus > ul, .user-menu-active > ul {
	visibility: visible;
	opacity: 1;
}
#searchfield {
	width: 75%;
}
#searchfield input {
	display: none;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
}
#searchfield input:focus {
	outline: none;
}
.footer {
	bottom: 0;
	position: fixed;
	text-align: center;
	margin-bottom: 0;
	padding: 0;
}
.footer li {
	width: 25%;
	padding:0;
}

/* mobile styles */
@media only screen and ( max-width: 40em ) /* 640 */ {
	.header {
		height: 60px;
		background: lightsteelblue;
		padding: 5px;
	}
	.header-section:nth-child(2) {
		display: none;
	}
	.header-links {
		display: none;
	}
	.nav {
		display: none;
	}
}
